@use "../abstracts/variables" as *;

body {
  min-width: 320px;
  background: $gradient-page-bg;
  font-family: $font-body;
  color: $color-text;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
