<article class="blog-card">
  <a class="blog-card__media" href="#" aria-label="Cikk megnyitása">
    <img
      src="/assets/images/blog/wordpress.svg"
      alt="WordPress adminfelulet illusztracio"
      loading="lazy"
    />
    <span>Blog kép</span>
  </a>
  <div class="blog-card__content">
    <div class="blog-card__meta">
      <span>WordPress</span>
      <time datetime="2026-06-02">2026. június 2.</time>
    </div>
    <h3 class="blog-card__title">
      <a href="#">Mikor érdemes WordPress oldalt választani?</a>
    </h3>
    <p class="blog-card__excerpt">
      Rövid, gyakorlati áttekintés arról, milyen helyzetekben jó döntés a
      WordPress, és mikor érdemes egyedibb megoldásban gondolkodni.
    </p>
    <a class="blog-card__link" href="#">Elolvasom</a>
  </div>
</article>
